
body {
    background-color: rgb(15, 15, 15);
}

/* ---- Flowchart ---- */

.flowchart .datapoint rect {
    fill: rgb(1, 87, 12);
    stroke: rgb(226, 226, 226);
    shape-rendering: crispEdges;
}

.flowchart .datapoint.hovered rect {
    fill: rgb(0, 124, 16);
}

.flowchart text {
    fill: white;
    text-anchor: middle;
    alignment-baseline: middle;

    font-family: sans-serif;
    pointer-events: none;
}

/* ---- /Flowchart ---- */


.hidden {
    display: none;
}
