
body {
    background-color: rgb(0, 2, 9);
    font-family: sans-serif;
}

/* Common background and color parameters. */
.commodity-selector,
.details-display {
    background-color: rgb(1, 87, 12);
    color: rgb(226, 226, 226);
    border: solid rgb(226, 226, 226) 1px;
}

/* ---- Filter container ---- */

/* -- Commodity selectors -- */

.commodity-selector {
    display: block;
    float: left;

    width: 5rem;
    height: 5rem;
    margin: 0.2rem;
    padding: 0.2rem;
}

.commodity-selector.selected {
    background-color: rgb(209, 146, 20);
    color: rgb(15, 15, 15);
}

.commodity-selector p {
    font-size: 11px;
    pointer-events: none;
}

/* -- /Commodity selectors -- */

.filter-container .year-slider {
    width: 100%;
}

/* ---- /Filter container ---- */

/* ---- Details display ---- */

.details-display {
    width: 10rem;
    height: 10rem;
    float: left;
    position: relative;

    padding: 0.2rem;
}

.details-display h2 {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    padding: 0;
    margin: 0;
}

.details-display p {
    position: absolute;

    padding: 0.2rem;
    margin: 0;
}

.details-display .details-import {
    bottom: 0;
    left: 0;
}

.details-display .details-export {
    bottom: 0;
    right: 0;
}

/* ---- /Details display ---- */

/* ---- Flowchart ---- */

.flowchart {
    float: left;
}

.flowchart .datapoint rect {
    stroke: rgb(226, 226, 226);
    shape-rendering: crispEdges;
}

.flowchart text {
    fill: rgb(226, 226, 226);
    text-anchor: middle;
    alignment-baseline: middle;

    pointer-events: none;
}

/* ---- /Flowchart ---- */

/* ---- Streamchart ---- */

.streamchart .bar {
    shape-rendering: crispEdges;
}

.streamchart .label {
    fill: white;
}

.streamchart .label-name {
    alignment-baseline: middle;
}

.streamchart .label-percentage {
    alignment-baseline: middle;
    text-anchor: end;
}

.streamchart .label-separator {
    stroke: white;
    shape-rendering: crispEdges;
}

/* ---- Streamchart ---- */

.hidden {
    display: none;
}
